/* mnml.css
 *
 * This is a customized version of the Swiss default theme. It is dual-licenced under the
 * GPL2 and MIT licenses and adapted from its original by Laurens Duijvesteijn. The original
 * swiss.css, as created by Caleb Troughton, is found on Github:
 *
 * https://github.com/imakewebthings/deck.js
 *
 */

.deck-container {
  background: #fafafa;
  font-size: 1.25em;
  font-family: Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
.slide {
  background: #fafafa;
  margin: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}
h1 {
  /* text-transform: uppercase; modified by hpl */
  /* font-size: 5.5em; modified by hpl */
  font-weight: bold;
  /* border-bottom: 5px #000 solid; modified by hpl */
  margin: 0 0 70px 0;
}
h2 {
  margin: 35px 0 25px 0;
  font-size: 2em;
  font-style: italic;
  width:90%;  /* added by hpl to avoid cut off of long titles */
}
h3 {
  margin: 30 0 20px 0;
  font-size: 1.3em;
}
ul > li > h3 {
  margin: 0 0 20px 0;
}
h4 {
  font-variant: small-caps;
}
.slide pre {
  font-style: italic;
  background: #eee;
  padding: 20px;
  margin-bottom: 20px;
}
.slide code {
  color: #444;
}
.slide blockquote {
  margin-left: 1em;
  padding: .5em 2em;
  border: none;
  border-left: 2px #ccc solid;
  color: #000;
  font-style: italic;
  font-size: 1.5em;
}
.slide blockquote p {
  margin: 0;
}
.slide blockquote cite {
  color: #888;
  font-weight: bold;
  font-style: normal;
  font-size: .5em;
}
.slide ol {
  list-style-type: square;
}
.slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.slide ::selection {
  background: #c00;
  color: #fff;
}
.slide a,
.slide a:hover,
.slide a:focus,
.slide a:active,
.slide a:visited {
  color: #c00;
  text-decoration: none;
}
.slide a:hover,
.slide a:focus {
  text-decoration: underline;
}
.slide .deck-before,
.slide .deck-previous {
  opacity: 0.4;
}
.deck-prev-link,
.deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-prev-link,
.deck-prev-link:hover,
.deck-prev-link:focus,
.deck-prev-link:active,
.deck-prev-link:visited,
.deck-next-link,
.deck-next-link:hover,
.deck-next-link:focus,
.deck-next-link:active,
.deck-next-link:visited {
  color: #fff;
}
.deck-prev-link:hover,
.deck-prev-link:focus,
.deck-next-link:hover,
.deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-status {
  font-size: 0.6666em;
}
.deck-menu .slide {
  background: #eee;
}
.deck-menu .deck-current,
.no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
