@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.deck-container {
  font-family: "Open Sans", sans-serif;
  font-size: 1.75em;
  background-color: #d7d3c8;
  /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #d7d3c8, #f6f4ec);
  background-image: -moz-linear-gradient(top, #d7d3c8, #f6f4ec);
  /* For Fx 3.6 to Fx 15 */
  background-image: -ms-linear-gradient(top, #d7d3c8, #f6f4ec);
  /* For IE 10 Platform Previews and Consumer Preview */
  background-image: -o-linear-gradient(top, #d7d3c8, #f6f4ec);
  /* For Opera 11.1 to 12.0 */
  background-image: linear-gradient(to bottom, #d7d3c8, #f6f4ec);
  /* Standard syntax; must be the last statement */
  color: black;
}
.deck-container #tabzilla-panel {
  z-index: 999;
}
.deck-container .slide h2, .deck-container .slide h3 {
  border-bottom-color: #ccc;
}
.deck-container .slide img, .deck-container .slide iframe {
  /* width: 100%; gives strange size of images */
}
.deck-container .slide iframe {
  /* height: 480px; */
}
.deck-container .slide pre {
  border-color: #ccc;
}
.deck-container .slide code {
  color: #888;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #0095DD;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  color: #00539F;
  text-decoration: underline;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
